body{
 margin: 0 auto;
 font:100% arial, helvetica, sans-serif, verdana;
 color: white;
 background-image: linear-gradient(#6495ED,#6959CD);
 background-repeat: no-repeat;
 background-attachment: fixed;
 text-align: left;
 text-shadow: 1px 1px 2px #000000;
 margin: 0 auto;    
}
form{
 font-family:arial;
 max-width: 100%;
}
p{
 font-family:arial;
 margin: auto;
}
#div{
  font-family:arial;
  display: inline-block;
  max-width: 35%;
  order:2;
 }
#divheader{
 font-family:arial;
 border: none; 
 margin: auto;
 width: auto;
 height: auto;
 order:1;
}
#divmain{
 font-family:arial;
 display: inline-block;
 max-width: 35%;
 order:2;
}
 #divfooter{
 background:lightgray;
 color: white;
 font-family:arial;
 border: none; 
 display: grid;
 margin: auto;
 order:3;
}
hr{
 border-color: #836FFF;
 margin: auto;
}
#logo{
 max-width:20%;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 1;
 right: 0;
 border: 0px solid;
}
#banner{
  max-width:100%;
  opacity: 0.7;
}
img{
 max-width:100%;
 opacity: 0.7;
}
#button_menu {
 background-color: goldenrod;
 padding: 10px;
 text-decoration: none;
 border-radius: 10px;
 cursor: pointer;
 display:grid;
 color:#ffffff;
}
input {
  background-color: goldenrod;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  display:grid;
  color:#ffffff;
 }
textarea {
  background-color: goldenrod;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  display:grid;
  color:#ffffff;
 }
#menu{
 font-family:arial;
 border: none; 
 display: inline-flex;
 margin: auto;
 max-width:200px;
 max-height:150px;
 width: auto;
 height: auto;
 border: 0px solid;
}
#table{
 color: white;
 background-image: linear-gradient(goldenrod,#836FFF);
 background-repeat: no-repeat;
 background-attachment: fixed;
 text-align: left;
 text-shadow: 1px 1px 2px #000000;
 margin: 0 auto;    
}
a:visited {
  color: white;
}
a:hover {
  color: lightgoldenrodyellow;
}
input{
  max-width: 50%;
}